body {
	font-family: 'Times New Roman', Times, serif;
	background: #cacae3;
	text-align: center;
  }
  
  #content {
	width: 80%;
	margin: auto;
	text-align: center;
  }
  
  header {
	text-align: center;
  }
  
  #btn-show-modal-question {
	width: 50%;
	margin: auto;
	padding: 1em;
	font-size: 1em;
  }
  
  input[type="text"] {
	font-size: 1.3em;
	padding: 1.5em;
	border-radius: 8px;
	margin-bottom: 20px;
  }
  
  .modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	z-index: 1;
  }
  
  .modal-content {
	margin: auto;
  }
  
  .modal-content > input[type="button"] {
	font-size: 1em;
	padding: 1em;
	border-radius: 10px;
	margin-bottom: 20px;
  }
  
  input[type="button"] {
	padding: 1em;
	border: none;
	background-color: #000;
	color: white;
	cursor: pointer;
  }
  
  #content article {
	margin-bottom: 2em;
  }
  
  .question-container {
	width: 50%;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fefefe;
  }
  
  .question {
	color: #000000;
	font-size: 25px;
	border-bottom: 1px dashed #333;
	padding-bottom: 5px;
  }
  
  .answer {
	color: #333;
	font-size: 20px;
  }
  
  .submit-button {
	font-size: 15px;
	padding: 20px 40px;
	margin-top: 15px;
	border: none;
	background-color: hsl(227, 44%, 66%);
	color: white;
	cursor: pointer;
	border-radius: 8px;
  }
  
  .submit-button:hover {
	background-color: #422253;
  }
  